<window width="80%" title="Session Timeout" border="normal">
	<vbox>
		The page or component you request is no longer available. This
		is normally caused by timeout, opening too many Web pages, or
		rebooting the server.
	</vbox>

	<!-- <div class="row">
		<div class="col-md-16">
		<div class="col-md-6 col-md-offset-3">
		<div class="col-md-8 col-md-offset-2">
		<div class="input">
		<textbox id="retipeUsuario"
		class="form-control input-lg" placeholder="Nombre del usuario" />
		</div>
		<separator />
		<div class="input">
		<textbox id="aliasUsuario"
		class="form-control input-lg"
		placeholder="Nuevo nombre del usuario" />
		</div>
		<separator />
		<div class="input">
		<textbox id="contrasenaUsuario" type="password"
		class="form-control input-lg" placeholder="Contraseña" />
		<label id="msg1" style="color:red" />
		</div>
		<separator />
		<div class="input">
		<textbox id="repiteContrasena" type="password"
		class="form-control input-lg" placeholder="Repite contraseña" />
		<label id="msg2" style="color:red" />
		</div>
		<separator />
		<div class="input">
		<textbox id="correoUsuario"
		class="form-control input-lg" placeholder="Correo Electronico" />
		</div>
		<separator />
		<div class="input">
		<textbox id="telefonoUsuario"
		class="form-control input-lg" placeholder="Telefono" />
		</div>
		<separator />
		<separator></separator>
		<div class="col-md-8 col-md-offset-2">
		<separator></separator>
		<button id="btnModificar"
		sclass="btn btn-warning btn-lg btn-block">
		Modificar
		</button>
		</div>
		<button id="btnModificar"
		sclass="btn btn-warning btn-sm">
		Modificar
		</button>
		<button id="btnConsultar"
		class="btn btn-success btn-sm">
		Consultar
		</button>
		<button id="btnEliminar"
		class="btn btn-danger btn-sm">
		Eliminar
		</button> 
		</div>
		</div>
		</div>
		</div>
	-->
</window>